<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="d:\lectures\2nd year\semester - 02\projects\integrating projects\v2_adminmain(modernui)\adminmain(modernui)\app_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="d:\lectures\2nd year\semester - 02\projects\integrating projects\v2_adminmain(modernui)\adminmain(modernui)\app_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <diagnostics>
            <messageLogging logEntireMessage="true" logMalformedMessages="true"
                logMessagesAtTransportLevel="true" />
        </diagnostics>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICuraService" maxReceivedMessageSize="100000000" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICuraService" maxReceivedMessageSize="100000000" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9500/TestTcpService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICuraService" contract="LibraryService.ICuraService"
                name="BasicHttpBinding_ICuraService" />
            <endpoint address="net.tcp://localhost:9600/TestHttpService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICuraService"
                contract="LibraryService.ICuraService" name="NetTcpBinding_ICuraService">
                <identity>
                    <userPrincipalName value="ASA-LAPTOP-MSI\asank" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>